.container {
  margin: 1.5rem;
}

.editorContainer {
  box-shadow: 0 0 5px 5px #f0f0f0;
  border-radius: 0.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.editor {
  border-radius: 0.5rem !important;
}

.output {
  background: white;
  box-shadow: 0 0 5px 5px #f0f0f0;
  border-radius: 0.5rem;
}

.editorTabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #17303b;
  padding: 1rem;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-left: 2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.editorTabs > div {
  margin-right: 2.5rem;
  color: white;
  cursor: pointer;
  padding: 0.8rem 2rem;
  transition: all 300ms ease-in-out;
  border-radius: 0.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editorTabs > div:hover {
  background: rgba(255, 166, 0, 0.1);
}

.editorTabs > div > span {
  margin-left: 0.8rem;
}

.editorTabs .active {
  background: rgba(255, 166, 0, 0.1);
  border-bottom: 3px solid rgba(255, 166, 0, 0.6);
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.8rem;
}

.icon {
  color: rgb(159, 146, 247);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icon:hover {
  padding: 0.2rem;
  border-radius: 50%;
  background-color: rgb(185, 113, 19);
  color: white;
}
.btn {
  padding: 0.5rem 1.2rem;
  border-radius: 5rem;
  margin-bottom: 0.5rem;
  border: none;
  background-color: slateblue;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  box-shadow: 2px 2px 3px 3px #f1f1f1;
}

.btn.new {
  background-color: royalblue;
}
