@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.header {
  padding: 0 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h2 {
  font-family: 'Pacifico', cursive;
  font-size: 2.4rem;
  font-weight: lighter;
  text-transform: capitalize;
  cursor: pointer;
  color: rgb(40, 40, 40);
}

.header .btn {
  padding: 0.6rem 1.3rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
  background-color: #2da44e;
  border-radius: 0.36rem;
  color: white;
  letter-spacing: 1.3px;
  font-weight: 500;
  box-shadow: 3px 3px 3px 3px #f0f0f0;
  display: flex;
  align-items: center;
}

.btn .icon {
  margin-right: 0.5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #1f7136;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accountInfo {
  box-shadow: 2px 2px 2px 2px #dcdcdc;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 2px solid rgba(188, 143, 143, 0.5);
}
.accountInfo > span {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.account .logout {
  margin: 0 1.2rem;
  margin-left: 2rem;
  font-family: monospace;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  font-weight: 400;
  cursor: pointer;
}
