code#typing {
  font-size: 15px;
  font-family: monospace;
  color: rgb(226, 226, 226);
  padding: 1rem;
}

section#code_editor {
  display: flex;
  flex-direction: column;
  background: #17303b;

  padding: 1rem;
  margin: 1rem;
  width: 55vw;
  min-height: 72.5vh;
  box-shadow: 0 0 8px 6px #bbb;
  border-radius: 16px;
}

section#code_editor #icons {
  display: flex;
  justify-content: flex-start;
}
#icons > div {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 0.8rem;
  text-align: center;
}
#icons > div:nth-child(1) {
  background-color: crimson;
}
#icons > div:nth-child(2) {
  background-color: goldenrod;
}
#icons > div:nth-child(3) {
  background-color: green;
}
section#code_editor code#typing {
  background: inherit;
  flex: 1;
  white-space: pre-wrap;
  tab-size: 14px;
}

.demo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.output {
  background: white;
  box-shadow: 0 0 5px 5px #f0f0f0;
  border-radius: 0.5rem;
  overflow: none;
}

.editorContainer {
  box-shadow: 0 0 5px 5px #f0f0f0;
  border-radius: 0.5rem;
}
.editorTabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #17303b;
  padding: 1rem;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-left: 2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.editorTabs > div {
  margin-right: 2.5rem;
  color: white;
  cursor: pointer;
  padding: 0.8rem 2rem;
  transition: all 300ms ease-in-out;
  border-radius: 0.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editorTabs > div:hover {
  background: rgba(255, 166, 0, 0.1);
}

.editorTabs > div > span {
  margin-left: 0.8rem;
}

.editorTabs .active {
  background: rgba(255, 166, 0, 0.1);
  border-bottom: 3px solid rgba(255, 166, 0, 0.6);
}

.icon {
  color: rgb(159, 146, 247);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icon:hover {
  padding: 0.2rem;
  border-radius: 50%;
  background-color: rgb(185, 113, 19);
  color: white;
}
